<footer id="footer">
    <div class="container-fluid" style="background-color: turquoise;">
        <div class="row">
            <div class="col-sm-3">
                <a href="/"><img class="iconbar-icon" src="/images/alerts-icon.svg" alt=""></a>
            </div>

            <div class="col-sm-3">
                <a href="/"><img class="iconbar-icon" src="/images/home-icon.svg" alt=""></a>
            </div>
            
            <div class="col-sm-3">
                <a href="/"><img class="iconbar-icon" src="/images/map-icon.svg" alt=""></a>
            </div>
            
            <div class="col-sm-3">
                <a href="/"><img class="iconbar-icon" src="/images/community-board-icon.svg" alt=""></a>
            </div>
            
        </div>
    </div>
</footer>