<footer id="footer" class="fixed-bottom">
    <div class="container-fluid text-center">
        <a href="/main.html"><img class="iconbar-icon" src="/images/home-icon.svg" alt=""></a>
        <a href="/alertsandnews.html"><img class="iconbar-icon" src="/images/alerts-icon.svg" alt=""></a>
        <a href="/map.html"><img class="iconbar-icon" src="/images/map-icon.svg" alt=""></a>
        <a href="/communityboard.html"><img class="iconbar-icon" src="/images/community-board-icon.svg" alt=""></a>
    </div>
</footer>