
<!-- Our custom footer serves as an iconbar that users will use to travers through the app -->
<!-- Each icon is a button that leads to one of ReVival's core features -->
<footer id="footer" class="fixed-bottom">
    <div class="container-fluid justify-content-around text-center">
        <a href="/main.html"><img class="iconbar-icon" src="/images/footer/noun-home-5627194-FFFFFF.png" alt=""></a>
        <a href="/alertsandnews.html"><img class="iconbar-icon-bell" src="/images/footer/noun-bell-51225-FFFFFF.png" height="20%" alt=""></a>
        <a href="/map.html"><img class="iconbar-icon" src="/images/footer/noun-map-1547094-FFFFFF.png" alt=""></a>
        <a href="/communityboard.html"><img class="iconbar-icon-cb" src="/images/footer/commboard.png" alt=""></a>
    </div>
</footer>