/* Palette color 
https://coolors.co/cad2c5-84a98c-52796f-354f52-2f3e46 */


.accordion {
    max-height: 60vw;
    /* overflow-y: hidden; */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.accordian::-webkit-scrollbar {
    display: none;
}

.navbar-brand {
    color: #C6DE41;
}

#navbar {
    border-bottom: 3px solid #52796F;
    background-color: #2F3E46;
}

/* FOOTER ELEMENTS */
#footer {
    border-radius: 5px;
    border: 3px solid #68B984;
    background-color: #EAEAEA;
}

.iconbar-icon {
    margin: 2% 5%;
    width: 7%;
}


/* CONTENT */
.content-box {
    border-radius: 10px;
    background-color: #F0EEED;
}


.map-image-box {
    text-align: center;
}

.map-img {
    width: 50%;
}

.notice-card {
    background-color: #F0EEED;
    border: 2px solid #84A98C;
    border-radius: 10px;
}

.notice-card-img {
    /* width: 100%; */
}

.CommunityBoard-box {
    max-height: 100vw;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.CommunityBoard-box::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width: 633px) {
    .map-img {
        width: 100%;
    }

    .notice-card-img {
        width: 50%;
    }

}