/* Universal elements and partials */
* {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

body {
    padding-top: 8%;
    padding-bottom: 20%;
    background-color: white;


}

a {
    color: inherit;
    text-decoration: none;

}

.navbar-brand {
    /* color: #C6DE41; */
    color: white;
    font-family: 'Work Sans', sans-serif;
}

#navbar {
    background-color: white;
    border-bottom: 0.1px solid #5A5A5A;
}

/* .main-cards {
    background-color: #407F78;
} */

/* Buttons */
.btn-signup {
    background-color: #5A5A5A;
    border-color: #5A5A5A;
    color: white;
    font-size: small;
}

.btn-login {
    border-color: #5A5A5A;
    font-size: small;
    color: #5A5A5A;
}

.btn-saved {
    border-color: #5A5A5A;
    font-size: small;
    color: #5A5A5A;
}

.btn-mylistings {
    border-color: #5A5A5A;
    font-size: small;
    color: #5A5A5A;


}

.btn-category {
    border-color: #5A5A5A;
    font-size: small;
    color: #5A5A5A;
}

.btn-addlisting {
    font-size: small;
    color: #5A5A5A;
    border-color: #5A5A5A;
    color: #5A5A5A;
}

.btn-save {
    font-size: small;
}

.editBtn {
    border-color: #407F78;
    background-color: #407F78;
    color: white;
}




.subsection_separator {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    opacity: 20%;
}


/* FOOTER ELEMENTS */
#index-footer {
    margin-top: 5%;
    padding: 4%;
    border-top: #5A5A5A 0.5px solid;
    background-color: white;
}

#footer {
    background-color: #407F78;
}

.iconbar-icon {
    margin: 3% 8%;
    width: 6%;
}

.iconbar-icon-cb {
    margin: 3% 8%;
    width: 8%;
}

.iconbar-icon-bell {
    margin: 3% 8%;
    width: 9%;
}

/* //+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\//+\\ */
/*                           Page: index.html                                  */
/* \\|+|//\\|+|//\\+//\\|+|//\\|+|//\\+//\\|+|//\\|+|//\\+//\\|+|//\\|+|//\\+//*/

/* Index page CONTENT */
.content-box {
    font-size: 1.2rem;
    padding: 2%;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #FAF9F6;
}

.col-sm h3 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.card-image {
    width: 100%;
}


/* //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\ */
/*                           Page: login.html                               */
/* \\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\// */



#loader {
    padding-left: 4vw;
}





/* |/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\| */
/*                           Page: main.html                                */
/* |\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/||\||/| */


/* -+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+- */
/*                           Section: Alerts & News                             */
/* -+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+--+-+- */

.header-space {
    margin-top: 7vw;
}

#section_alerts {
    padding: 0;
    border-bottom: solid 1px #ced4da;
}

.heading_alerts {
    padding-left: 20px;
    padding-bottom: 8px;
    margin: 0;
    border-bottom: solid 1px #ced4da;
}


.latest-news {
    border: none;
    margin-top: 0;
}

.accordion {
    max-height: 60vw;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.accordion-item:first-child {
    border-top: none;
}

.accordion-item {
    border-left: none;
    border-right: none;
}


.accordion-button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.badge {
    margin-bottom: 3px;
}

.accordion-button p {
    margin-bottom: auto;
}

/* ------------------------------------------------------------------- */
/*                           Section: Maps                             */
/* ------------------------------------------------------------------- */
#section_maps {
    padding: 0;
    margin: 2vw 0;
}

.heading_maps {
    padding-left: 20px;
    padding-bottom: 8px;
    margin: 0;
    border-bottom: solid 1px #ced4da;
}


.map-image-box {
    text-align: center;
    padding: 0;
    margin: 0;
}

.map-img {
    width: 100%;
}

/* -=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=- */
/*                     Section: Community Board                           */
/* -=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=--=-=-=- */

.heading_communityboard {
    padding-left: 20px;
    padding-bottom: 8px;
    margin: 0;
    border-bottom: solid 1px #ced4da;
}

.notice-card {
    padding: 0;
    background-color: #FAF9F6;
    border-radius: 10px;
}

.notice-card-box {
    padding: 0;
}

.notice-card-img {
    width: 100%;
}


/* icon next to Community Board heading */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.CommunityBoard-box {
    max-height: 100vw;
    padding: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;


}

.CommunityBoard-box row {
    width: 100%;
    margin: 0;
}

.CommunityBoard-box::-webkit-scrollbar {
    display: none;
}

.notice-card {
    overflow: hidden;
    margin: 10px;
}

/* /////////////Alerts and News ///////////////////////////////////////////// */
.news-banner-box {
    font-size: 1.2rem;
    padding: 2%;
    margin: 2%;
    border: 1px solid #407F61;
    border-radius: 10px;
    background-color: #FAF9F6;
    ;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.newscard-icon {
    margin: 2% 5%;
    width: 12%;
}


.newscard-img {
    width: 100%;
}

.article-img {
    width: 100%;
}



@media screen and (max-width: 633px) {
    .map-img {
        width: 100%;
    }

    .notice-card-img {
        width: 50%;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}