
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }

.navbar-brand{
    color:azure;
}

.search_icon{
    color: antiquewhite;
    background-color: inherit;
}

#navbar, #footer{
    border-bottom: 3px solid #52796F;
    background-color: #2F3E46;
}

.content-box{
    border: 2px solid #2F3E46;
    border-radius: 10px;
    background-color: #CAD2C5;
}


.map-image-box{
    text-align: center;
}
.map-img{
    width: 50%;
}

.notice-card{
    background-color: #ECE8DD;
    border: 2px solid #84A98C;
    border-radius: 10px;
}

.notice-card-img{
    width: 80%;
}

@media screen and (max-width: 633px) {
    .map-img{
        width: 100%;
    }


    .notice-card-img{
        width: 50%;
    }
        
  }